.footer {
  background-color: #282c34;
  padding: 20px;
  color: white;
  text-align: center;
  font-size: 14px;
}

.footer-content {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap; /* Para que sea responsive */
}

.footer-content span {
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.footer-content span:hover {
  color: #61dafb;
}
